<div class="bg"></div>
<div class="wrapper">
  <div class="semi-full-width">
    <div class="container content-container">
      <div class="row">
        <div class="col">
          <h1 id="content-heading">Kontakta oss!</h1>
        </div>
      </div>
      <div class="row g-6">
        <div class="col-md-6 my-col">
          <i class="bi bi-telephone-forward"></i>
          <p>Telefon: 012-123 12 12</p>
        </div>
        <div class="col-md-6 my-col">
          <i class="bi bi-house"></i>
          <p>Adress: Eyragatan 1A, 702 25 Örebro</p>
        </div>
      </div>
      <div class="row g-6">
        <div class="col-md-6 my-col">
          <i class="bi bi-envelope"></i>
          <p>Mail: Somemail@something.com</p>
        </div>
        <div class="col-md-6 my-col">
          <i class="bi bi-clock"></i>
          <p>Öppettider: Alla dagar 04-00</p>
        </div>
      </div>
    </div>
  </div>
</div>
