<div class="wrapper">
  <div class="bg-home"></div>

  <div class="d-flex justify-content-center">
    <div class="container col-xxl-8 px-4 py-5 main-container">
      <div class="row py-5">
        <div id="home-white-div">
          <h1 class="display-5 fw-bold lh-1 mb-3">
            Örebro Kraftsportklubb Tyngdlyftning
          </h1>
          <p class="lead">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis
            veniam laboriosam unde natus autem iusto provident, minima quaerat
            ullam porro ut corrupti culpa alias fuga saepe magni itaque
            quibusdam, mollitia, praesentium excepturi aliquid deserunt
            voluptatum. Quisquam asperior es perferendis ipsam aliquid.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
