<div class="wrapper">
  <div class="bg"></div>
  <div class="semi-full-width">
    <p>hej</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
    <p>yo</p>
  </div>
</div>
